<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="namespace"/>
    <arg name="agent_name"/>

    <node 
      name="action_server" 
      pkg="rosnav_rl" 
      type="action_server.py" 
      output="screen"
      args="--agent_name $(arg agent_name) --namespace $(arg namespace)"
    />
</launch>